(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.server.svg")) @)
(@ set symbol = "server" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
