(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.trafficlights.svg")) @)
(@ set symbol = "traffic lights" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
