(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cisco.100basethub.svg")) @)
(@ set family = "cisco" @)
(@ set symbol = "100 BaseT hub" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
