(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.manstanding.svg")) @)
(@ set symbol = "man standing" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
