(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.dbstorage.svg")) @)
(@ set symbol = "db storage" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4) ))
(@ endblock @)
