(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.institution.svg")) @)
(@ set symbol = "institution" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
