(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.envelope.svg")) @)
(@ set symbol = "envelope" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4) ))
(@ endblock @)
