(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cisco.pcman.svg")) @)
(@ set family = "cisco" @)
(@ set symbol = "pc man" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
