(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.fileblank.svg")) @)
(@ set symbol = "file blank" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4) ))
(@ endblock @)
