(@ extends "pgflibraryshapes.cnet.main.code.tex.jinja" @)

(@ set pgf = svgtopgf(loadsvg("cnet.rfwaves.svg")) @)
(@ set symbol = "rf waves" @)

(@ block beforebackgroundpath @)
(( pgf.code | indent(4)))
(@ endblock @)
